<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <h1>Por favor regístrate</h1>
  <br />
  <form action="/Ejercicios/ToDos/Controllers/loginController.php" method="post">

    <div>
      <label for="userName">Usuario</label>
      <input type="text" name="userName" id="userName" placeholder="Julio2003" />
    </div>

    <br>

    <div>
      <label for="userPass">Contraseña</label>
      <input type="password" name="userPass" id="userPass" placeholder="*****">
    </div>

    <br>

    <div>
      <input type="submit" value="Ingresar">
    </div>

  </form>
</body>

</html>